* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  mix-blend-mode: difference;
  padding: 0 5vw;
}

.navbar .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .icons a {
  color: white;
  font-size: 32px;
  margin-top: 5px;
  margin-right: 10px;
}

.navbar .titles .name {
  font-size: 16px;
}

.navbar .titles .unions {
  font-size: 12px;
}

.navbar .nav-links a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding-right: 3vw;
}

.navbar.other {
  background-color: black;
}

.parallax:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background: url("../img/main-image-enhanced.jpeg") no-repeat center center;
  background-size: cover;
}

.parallax-inner .quote {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallax-inner .quote p {
  color: white;
  font-size: 48px;
  margin-bottom: 200px;
}

.parallax-inner .photo-credit {
  position: fixed;
  bottom: 50px;
  left: 50px;
  color: white;
  font-size: 12px;
  z-index: -9;
}

.container {
  width: 100%;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.container header {
  scroll-snap-align: start;
}

.container section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding: 0 10vw;
  padding-top: 100px;
  color: black;
}

.container section .page-links {
  color: #969696;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.container section .page-links:hover {
  color: black;
}

.container section.photos img {
  width: 100%;
}

.container section.contact {
  background-color: white;
}

.container section.bio, .container section.philosophy, .container section.role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(115deg, black 50%, white 50%);
  background-size: 250% 100%;
}

.container section.bio .image-container, .container section.philosophy .image-container, .container section.role .image-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container section.bio .image-container i, .container section.philosophy .image-container i, .container section.role .image-container i {
  font-size: 12px;
  padding-top: 10px;
  mix-blend-mode: difference;
}

.container section.bio .image-container img, .container section.philosophy .image-container img, .container section.role .image-container img {
  width: auto;
  height: 60%;
}

.container section.bio .text-container, .container section.philosophy .text-container, .container section.role .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3vh 3vw;
  background-color: white;
  border: 3px solid black;
}

.container section.bio .text-container p,
.container section.bio .text-container a, .container section.philosophy .text-container p,
.container section.philosophy .text-container a, .container section.role .text-container p,
.container section.role .text-container a {
  font-size: 20px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@-webkit-keyframes ungradient {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes ungradient {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slide-anim {
    -webkit-animation: gradient 1s ease 1;
            animation: gradient 1s ease 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .unslide-anim {
    -webkit-animation: ungradient 1s ease 1;
            animation: ungradient 1s ease 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
/*# sourceMappingURL=style.css.map */