* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

.navbar {
  position: fixed;
  z-index: 10;

  width: 100%;

  @media (min-width: 1000px) {
    height: $nav-height;
  }
  @media (max-width: 1000px) {
    height: $mob-nav-height;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;
  padding: 0 $side-pad;

  //mixed colors thing
  @media (min-width: 1000px) {
    mix-blend-mode: difference;
  }

  @media (max-width: 1000px) {
    background-color: black;
  }

  .icons a,
  .nav-links a {
    transition: color $trans-time ease;

    &:hover {
      color: rgb(120, 120, 120);
    }
  }

  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      color: white;
      font-size: 32px;
      margin-top: 5px;
      margin-right: 10px;
    }
  }

  .titles {
    @media (min-width: 1000px) {
      .name {
        font-size: 16px;
      }

      .unions {
        font-size: 12px;
      }
    }

    @media (max-width: 1000px) {
      .name {
        font-size: 14px;
      }

      .unions {
        font-size: 10px;
      }
    }
  }

  @media (min-width: 1000px) {
    .nav-links {
      a {
        font-size: 16px;
        color: white;
        text-decoration: none;
        margin-left: 3vw;
      }
    }
  }

  @media (max-width: 1000px) {
    .nav-links {
      position: fixed;
      top: 0;
      left: 0;

      z-index: -9;

      width: 100%;
      height: 100vh;

      padding-top: $mob-nav-height;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      background: black;
      transform: translateX(100%);
      transition: transform 1s ease;

      a {
        font-size: 16px;
        color: white;
        text-decoration: none;
      }

      &.open {
        transform: translateX(0%);
      }
    }
  }

  &.other {
    background-color: black;
  }
}

// parallax
.parallax:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background: url("../img/main-image-enhanced.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax-inner {
  .quote {
    width: 100%;
    height: 100vh;

    display: flex;
    // align-items: center;
    justify-content: center;

    @media (min-width: 1000px) {
      p {
        color: white;
        font-size: 40px;
        margin-top: 250px;
      }
    }

    @media (max-width: 1000px) {
      p {
        color: white;
        font-size: 18px;
        margin-top: 300px;
      }
    }
  }

  .photo-credit {
    position: fixed;

    bottom: 50px;
    left: 50px;

    color: white;
    font-size: 12px;

    z-index: -9;
  }
}

// sections
.container {
  width: 100%;
  height: 100vh;
  @media (min-width: 1000px) {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  header {
    scroll-snap-align: start;
  }

  section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;

    .spacer {
      height: 3px;
      width: 100%;
      background-color: black;
    }

    @media (min-width: 1000px) {
      padding: 0 10vw;
      padding-top: $nav-height;
    }
    @media (max-width: 1000px) {
      padding: 0 $side-pad;
      padding-top: $mob-nav-height;
    }

    color: black;

    &.photos {
      img {
        width: 100%;
      }
    }

    &.contact {
      background-color: white;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    @media (min-width: 1000px) {
      &.bio,
      &.philosophy,
      &.role {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: linear-gradient(115deg, black 50%, white 50%);
        background-size: 250% 100%;

        .image-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          // background-color: blue;
          color: white;

          i {
            font-size: 12px;
            padding-top: 10px;

            mix-blend-mode: difference; // changing text colour on change background color
          }

          img {
            width: auto;
            height: 60%;
            // background-color: yellow;
          }
        }

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;

          width: 50%;
          height: fit-content;
          padding: 3vh 3vw;

          background-color: white;
          border: 3px solid black;

          p,
          a {
            font-size: 20px;
          }
        }
      }
    }

    @media (max-width: 1000px) {
      &.bio,
      &.philosophy,
      &.role {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background: linear-gradient(115deg, black 50%, white 50%);
        background-size: 250% 100%;

        .image-container {
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          // background-color: blue;
          color: white;

          i {
            font-size: 10px;
            padding-top: 5px;

            mix-blend-mode: difference; // changing text colour on change background color
          }

          img {
            width: auto;
            height: 100%;
            // background-color: yellow;
          }
        }

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;

          width: 100%;
          height: fit-content;
          padding: 1vh 1vw;

          background-color: white;
          border: 3px solid black;

          p,
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.page-links {
  color: rgb(121, 121, 121);
  transition: color $trans-time ease;

  &:hover {
    color: black;
  }
}

//animations
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes ungradient {
  0% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

//animation classes
@media (prefers-reduced-motion: no-preference) {
  .slide-anim {
    animation: gradient 1s ease 1;
    animation-fill-mode: forwards;
  }

  .unslide-anim {
    animation: ungradient 1s ease 1;
    animation-fill-mode: forwards;
  }
}

// Buttons
.contact-btn {
  color: white;
  text-decoration: none;

  background: linear-gradient(115deg, black 50%, white 50%);
  background-size: 400% 100%;
  outline: 1px solid black;

  padding: 20px 100px;

  transition: background-position 1s ease, color 1s ease;

  &:hover {
    background-position: 100% 0%;
    color: black;
  }
}

//Hamburger menu
@media (min-width: 1000px) {
  button.hamburger {
    display: none;
  }
}

// Theatre Page
.theatre-container {
  width: 100%;
  height: 100vh;
  @media (min-width: 1000px) {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }
}

.afterlight {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  img {
    width: auto;
    height: 80vh;
  }
}

.info {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 10vw;

  img {
    width: auto;
    height: 150px;
    margin-bottom: 10vh;
  }

  p {
    margin-bottom: 10vh;
  }
}
